html{
    scroll-behavior: smooth;
}

body{
    font-family: 'raleway';
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1400px;
}

.header img{
    width: 90px;
}

.logo-nav{
    margin-left: 50px;
}

.title-nav a{
    text-decoration: none;
    margin: 0 60px 0 0;
    color: #000;
}

.hebergements{
    transition: all 0.2s ease-in-out;
}

.hebergements:hover{
    border-top: solid 6px #0065FC;
    padding-top: 30px;
    color: #0065FC;
}

.activites{
    transition: all 0.2s ease-in-out;
}

.activites:hover{
    border-top: solid 6px #0065FC;
    padding-top: 30px;
    color: #0065FC;
}

.section-top{
    margin: 50px 0 40px 0;
    line-height: 10px;
    font-size: 10px;
    width: 96%;
    max-width: 1400px;
}

h2{
    font-size: 20px;
}

.section-top p{
    color: black;
    opacity: 70%;
}

.search{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-right: none;
    width: 281px;
    height: 35px;
    border-radius: 12px;
    margin-top: 15px;
}

.picto-localisation{
    height: 15px;
}

.picto{
    margin: 0;
    padding: 10px 10px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    background: #F2F2F2;
    
}

.form input{
    height: 35px;
    width: 150px;
    margin: 0;
    padding: 0 0 0 10px;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    border-left: none;
    border-right: none;
    font-family: 'raleway';
    font-weight: 600;
}

::placeholder{
    color: black;
}

.form button{
    height: 37px;
    width: 87px;
    margin: 0;
    padding: 0;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border: none;
    background-color: #0065FC;
    color: #fff;
    font-family: 'raleway';
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form button:hover{
    background-color: #DEEBFF;
    color: #0065FC;
}

.marseille{
    padding: 0 30px 0 10px;
}

.rechercher{
    margin-left: 50px;
    background-color: #0065FC;
}

.rechercher p{
    color: #fff;
}

.form-mobile{
    display: none;
}

.filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 50px;
    justify-content: space-between;
    margin-top: 10px;
}

.filtres p{
    font-weight: 600;
    font-size: 15px;
}

.economique{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 50px;
    height: 35px;
    margin: 0 15px 0 15px;
}

.picto-economique{
    border-radius: 20px;
    background: #DEEBFF;
    padding: 10px;
    margin-left: -2px;
}

.economique svg{
    height: 15px;
    fill: #0065FC;
}

.economique p{
    padding: 0 10px 0 12px;
    font-weight: 600;
    font-size: 15px;
}

.familial{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 50px;
    height: 35px;
    margin: 0 15px 0 15px;
}

.picto-familial{
    border-radius: 100px;
    background: #DEEBFF;
    padding: 10px 13px;
    margin-left: -2px;
}

.familial svg{
    height: 15px;
    fill: #0065FC;
}

.familial p{
    padding: 0 10px 0 12px;
    font-weight: 600;
    font-size: 15px;
}

.romantique{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 50px;
    height: 35px;
    margin: 0 15px 0 15px;
}

.picto-romantique{
    border-radius: 100px;
    background: #DEEBFF;
    padding: 10px;
    margin-left: -2px;
}

.romantique svg{
    height: 15px;
    fill: #0065FC;
}

.romantique p{
    padding: 0 10px 0 12px;
    font-weight: 600;
    font-size: 15px;
}

.animaux{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #F2F2F2;
    border-radius: 50px;
    height: 35px;
    margin: 0 15px 0 15px;
}

.picto-animaux{
    border-radius: 100px;
    background: #DEEBFF;
    padding: 10px;
    margin-left: -2px;
}

.animaux svg{
    height: 15px;
    fill: #0065FC;
}

.animaux p{
    padding: 0 10px 0 12px;
    font-weight: 600;
    font-size: 15px;
}

.info{
    height: 20px;
    width: 100%;
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.picto-info{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #0065FC;
    border: solid 1px #F2F2F2;
    border-radius: 100px;
}

.picto-info svg{
    height: 10px;
    width: 10px;
    fill: #0065FC;
}

.text-info{
    margin-left: 10px;
}

.mid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    width: 96%;
    max-width: 1400px;
}

.hebergements-marseille{
    width: 67%;
    min-height: 60px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergements-marseille h2{
    padding: 30px 0 5px 42px;
    font-size: 22px;
}

.container-hebergements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    min-height: 300px;
}

.container-hebergements > div{
    width: 240px;
    text-align: left;
    line-height: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
}

.container-hebergements img{
    width: 230px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px 0 0 5px;
    object-fit: cover;
}

.container-hebergements p{
    margin-left: 15px;
}

.price{
    font-size: 14px;
    margin: 0 0 14px 0;
    font-weight: 300;
}

.stars1{
    width: 220px;
    height: 20px;
    display: flex;
    flex-direction: row;
    margin: 0 0 5px 15px;
    gap: 1px;
}

.stars1 svg{
    width: 13px;
    height: 13px;
    fill: #0065FC;
}

.cannebiere svg:nth-last-child(-n+1){
    fill: #dddddd;
}

.mouettes svg:nth-last-child(-n+1){
    fill: #dddddd;
}

.mer svg:nth-last-child(-n+2){
    fill: #dddddd;
}

.panier svg:nth-last-child(-n+1){
    fill: #dddddd;
}

.afficher{
    margin-top: 170px;
    padding-left: 42px;
    font-size: 18px;
}

.populaires{
    width: 29%;
    min-height: 300px;
    background-color: #F2F2F2;
    border-radius: 20px;
    align-items: center;
}

.populaires p{
    line-height: 20px;
    margin: 15px 17px 0px 17px;
}

.populaires img{
    width: 40%;
    min-height: 70px;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px 0 5px 5px;
    height: 95%;
}

.title-populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-populaires svg{
    width: 23px;
    height: 23px;
    padding: 30px 40px 0 0;
}

.title-populaires h2{
    padding: 30px 0 5px 42px;
    font-size: 22px;
}

.container-populaires{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
    min-height: 300px;
}

.container-populaires > div{
    box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
}

.soleil{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    width: 84%;
    height: 200px;
}

.eau{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    width: 84%;
    height: 200px;
}

.bleu{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    width: 84%;
    height: 200px;
    margin-bottom: 40px;
}

.stars2{
    width: 80px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 25px 0 10px 15px;
    gap: 1px;
}

.stars2 svg{
    width: 13px;
    height: 13px;
    fill: #0065FC;
}

.eau svg:nth-last-child(-n+1){
    fill: #dddddd;
}

.bleu svg:nth-last-child(-n+1){
    fill: #dddddd;
}

.price2{
    font-size: 14px;
    font-weight: 300;
    margin: 0px 0 14px 0;
}

.section-bot{
    margin: 30px 0 40px 0;
    width: 100%;
    max-width: 1400px;
}

.section-bot h2{
    font-size: 22px;
    padding-left: 30px;
}

.photo-bot{
    display: flex;
    flex-direction: row;
    gap: 43px;
    min-height: 440px;
    width: 96%;
    max-width: 1400px;
    margin: 25px;
}

.photo-bot1{
    min-height: 440px;
    width: 100%;
    max-width: 1400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.photo-bot2{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.photo-bot p{
    font-size: 15px;
    padding: 5px 0 5px 10px;
    margin: 10px 0 10px 10px;
    font-weight: 700;
}

.fort-frioul p{
    font-size: 15px;
    padding: 10px 0 10px 10px;
    margin: 0 0 10px 10px;
    font-weight: 700;
}

.dame-longchamp p{
    font-size: 15px;
    padding: 10px 0 10px 10px;
    margin: 0 0 10px 10px;
    font-weight: 700;
}

.vieux-port{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
}

.fort{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
}

.frioul{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
}

.calanques{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
}

.dame{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
}

.longchamp{
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
}

.fort-frioul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dame-longchamp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background: #F2F2F2;
    width:100% !important;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1400px;
    list-style-type: none;
}

.footer-propos{
    width: 30%;
}

.footer-hebergements{
    width: 30%;
}

.footer-assistance{
    width: 30%;
}

.footer h3{
    font-size: 17px;
}

.footer a{
    text-decoration: none;
    color: #000;
    font-weight: 300;
    display: inline;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.footer a:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 0%;
    left: 0px;
    height: 3px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: #0065FC ;
}

.footer a:hover:after{
    width: 70%;
}

.footer ul{
    list-style-type: none;
    padding: 0;
    line-height: 30px;
}

@media (min-width:768px) and (max-width:992px){
    .filtres{
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        margin-top: 30px;
    }
    .section-top{
        width: 90%;
    }
    .animaux{
        margin: 0px 0 0 0;
    }
    .romantique{
        margin: 0px 0 0 0;
    }
    .info{
        margin-top: 30px;
    }
    .mid{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .hebergements-marseille{
        width: 100%;
        height: 700px;
    }
    .container-hebergements{
        width: 100%;
    }
    .container-hebergements > div{
        width: 28%;
        font-size: 15px;
        line-height: 15px;
    }
    .container-hebergements img{
        width: 95%;
    }
    .container-populaires{
        padding-bottom: 50px;
    }
    .container-populaires img{
        width: 40%;
        min-height: 70px;
        max-height: 250px;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        padding: 5px 0 5px 5px;
    }
    .bleu{
        max-height: 250px;
    }
    .afficher{
        margin-top: 50px;
    }
    .populaires{
        width: 100%;
    }
    .vieux-port{
        max-height: 200px;
    }
    .fort{
        max-height: 200px;
        margin-bottom: 40px;
    }
    .frioul{
        max-height: 200px;
    }
    .calanques{
        max-height: 200px;
    }
    .dame{
        max-height: 200px;
        margin-bottom: 40px;
    }
    .longchamp{
        max-height: 200px;
    }
    .section-bot{
        width: 90%;
    }
    .photo-bot{
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
        margin: 0;
        width: 100%;
    }
    .photo-bot1{
        height: 70%;
        min-height: 0px;
    }
    .photo-bot2{
        height: 70%;
        min-height: 0px;
        width: 100%;
    }
    footer{
        position: relative;
        margin-top: 50px;
    }
    .footer{
        gap: 100px;
        width: 80%;
    }
}

@media (max-width:767px){
    
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header img{
        width: 120px;
    }
    .logo-nav{
        height: 60px;
        width: 120px;
        margin: 0 0 50px 0;
    }
    .title-nav{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .form button{
        display: none;
    }

    .section-top{
        width: 85%;
    }

    .filtres{
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
        align-items: flex-start;
        margin-top: 40px;
    }

    .animaux p{
        width: 200px;
    }

    .hebergements{
        border: none;
        padding: 0 0 30px 0;
        border-bottom: solid 4px #F2F2F2;
        width: 50%;
        text-align: center;
    }
    .hebergements:hover{
        border-bottom: solid 4px #0065FC;
        border-top: none;
        padding: 0 0 30px 0;
        color: #0065FC;   
    }
    .activites{
        border: none;
        padding: 0 0 20px 0;
        border-bottom: solid 4px #F2F2F2;
        width: 50%;
        text-align: center;
    }
    .activites:hover{
        border-bottom: solid 4px #0065FC;
        border-top: none;
        padding: 0 0 20px 0;
        color: #0065FC;
    }
    .title-nav a{
        font-size: 20px;
        margin: 0;
    }
    .section-top h2{
        font-size: 27px;
        line-height: 30px;
    }
    .section-top p{
        font-size: 19px;
        margin: 20px 0 20px 0;
        line-height: 22px;
    }

    .info{
        margin-top: 280px;
    }

    .search{
        width: 400px;
        border: none;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .picto-localisation{
        height: 20px;
        padding: 10px 10px 10px 10px ;
    }

    .picto{
        width: 35px;
        height: 40px;
    }

    .form{
        width: 100%;
        text-align: left;
    }
    .form input{
        width: 100%;
        height: 57px;
    }

    ::placeholder{
        color: black;
        font-size: 22px;
        padding-left: 10px;
    }

    .form-button{
        width: 10%;
    }

    .form-mobile{
        display: inline;
        padding: 18px 18px;
        background-color: #0065FC;
        border-radius: 15px;
        width: 28px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .form-mobile:hover{
        background-color: #639ffa;
        color: #0065FC;
    }

    .form-mobile svg{
        fill: #fff;
        height: 20px;
        width: 20px;
    }

    .mid{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        width: 100vw;
        gap: 0;
    }

    .populaires{
        width: 100vw;
        height: 700px;
        border-radius: 0;
    }

    .soleil{
        width: 80vw;
        height: 160px;
    }

    .eau{
        width: 80vw;
        height: 160px;
    }

    .bleu{
        width: 80vw;
        height: 160px;
    }
      
    .populaires img{
        width: 125px;
        height: 150px;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        padding: 5px 0 5px 5px;
    }

    .hebergements-marseille{
        width: 100vw;
        margin: 0;
        background-color: #fff;
    }

    .container-hebergements{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 30px;
        width: 100vw;
        height: 300px;
    }

    .container-hebergements > div{
        width: 80vw;
        text-align: left;
        height: 240px;
        line-height: 5px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 1px 1px 10px 1px rgba(159, 159, 159, 0.338);
    }

    .container-hebergements img{
        width: 78vw;
        height: 150px;
        object-fit: cover;
    }

    .stars1 svg{
        width: 15px;
        height: 15px;
        fill: #0065FC;
    }

    .afficher{
        margin-top: 1330px;
    }
    .section-bot{
        width: 90%;
    }
    .section-bot h2{
        margin-bottom: 40px;
    }

    .photo-bot{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-height: 150px;
        width: 80vw;
    }

    .photo-bot1{
        width: 80vw;
        height: 150px;
        min-height: 50px;
    }

    .fort-frioul{
        gap: 40px;
    }

    .dame-longchamp{
        gap: 40px;
    }

    .photo-bot2{
        width: 80vw;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    footer{
        margin-top: 1000px;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-left: -40px;
    }

    .footer a{
        text-decoration: none;
        color: #000;
        font-weight: 400;
        transition: all 0.2s ease-in-out;
        display: inline;
        position: relative;
    }

    .footer a:after{
        content: '';
        display: block;
        position: absolute;
        bottom: -5px;
        width: 0%;
        left: 10px;
        height: 3px;
        transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
        background: #0065FC ;
    }

    .footer a:hover:after{
        width: 70%;
    }

    .footer a:hover{
        padding-left: 10px;
    }

}


